:root {
  --color-uno: #000;
  --color-dos: #21209C;
  --color-tres: #FDB827;
  --color-cuatro: #F1F1F1;
  --color-cinco: #232323;
}

* {
  margin: 0;

  box-sizing: border-box;
}

body {
  background-color: var(--color-uno);
  color: var(--color-cuatro);
  font-family: sans-serif;

}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu menu menu"
    "len len len "
    "aside right main"
    "footer footer footer";

}

.item1 {
  grid-area: header;
}



.item2 {
  grid-area: menu;
  text-decoration: none;
  position: sticky;
  top: 10px;
  opacity: 0.8;
}

.item3 {
  opacity: 0.9;
  grid-area: main;
}

.item4 {
  grid-area: right;

}

.item4 img:hover {
  opacity: 0.8;

}

.item5 {
  grid-area: aside;
}

.item6 {
  grid-area: footer;
  background-color: var(--color-uno);
  color: var(--color-uno);
  text-align: center;
}

.item7 {
  grid-area: len;
}

.item7 a {
  text-decoration: none;
  background-color: var(--color-cuatro);
  color: var(--color-uno);
  padding: 1%;
}


/*inicio del slide*/
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  opacity: 0.9;
  color: #f2f2f2;
  font-size: 3rem;
  padding: 2%;
  position: absolute;
  bottom: 8px;
  width: 100%;
  background-color: var(--color-uno);
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1.5rem;
  padding: 2%;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 2vw;
  width: 2vw;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #3f3e3e;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 1rem;
  }
}

/*fin del slide*/

/*menu*/
.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

a#pull {
  display: none;
}

nav {
  height: 50px;
  width: 100%;
  background: var(--color-cinco);
  position: relative;
  border-bottom: solid 1px var(--color-cuatro);

}

nav ul {
  padding: 0;
  margin: 0 auto;
  width: 600px;
  height: 50px;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  color: var(--color-cuatro);
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

nav li a {
  border-right: 1px solid var(--color-tres);
}

nav li:last-child a {
  border-right: 0;
}

nav a:hover {

  color: var(--color-cuatro);
}

@media only screen and (min-width: 200px) and (max-width: 776px) {


  nav {
    border-bottom: 0;
    height: auto;
  }

  nav ul {
    display: none;
    height: auto;
    width: 100%;
  }

  nav li {
    width: 50%;
    float: left;
    position: relative;
  }

  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
  }

  nav a#pull {
    display: block;

    width: 100%;
    position: relative;
    font-size: 2rem;
  }

  nav a#pull:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 2rem;
  }
}


/*Fin del menu*/

@media only screen and (min-width: 1px) and (max-width: 980px) {


  .grid-container {
    grid-template-areas:
      "header "
      "menu "
      "len"
      "aside"
      " right "
      " main"
      "footer ";
  }
  iframe{
    padding: 2%;
    width:90vw;
   } 
   .item1 img {
    width: 96vw;
    height: 20vw;
  }

  .item3 {

    background-image: url("../img/discos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    color: var(--color-cuatro);
    margin-bottom: 2%;
  }

  .item3 p {
    width: 80vw;
    margin: 0 0 10% 0;
    padding: 2%;
    background-color: var(--color-cinco);
    color: var(--color-cuatro);
  }

  .item3 img {
    width: 80vw;
    margin: 2%;
    padding-bottom: 3%;
  }

  .item4 {

    background-color: var(--color-tres);
    color: var(--color-uno);
    display: flex;
    font-size: 2rem;
    grid-gap: 2%;
    padding: 1% 0 1% 5%;
  }

  .item4 a {
    text-decoration: none;
    color: var(--color-uno);
  }

  .item4 img {
    width: 15vw;
  }
 
  .item5 p,
  h3,
  h2 {

    font-size: 1.5rem;
    padding: 5%;
  }

  .item7 {
    padding: 2%;
  }

  .div img {
    width: 10vw;
  }

  .item6 {
   padding-left: 5%;
    grid-gap: 2%;
    background-color: var(--color-cinco);
    display: flex;
    color: var(--color-cuatro);
  }

  .item6 img {
    width: 8vw;
  }

}

@media only screen and (min-width: 981px) and (max-width: 3880px) {

  .grid-container {
    grid-template-areas:
      "header header"
      "menu menu"
      "len len "
      " aside right"
      "main main"
      "footer footer";
    grid-gap: 3px;
  }
  iframe{
    padding: 1%;
    width: 33vw;
    height: 28vw;
   }
  .div img {
    width: 5vw;
  }
  .item1 img {
    width: 100vw;
    height: 10vw;
  }
  .item2 {
    font-size: 1.3rem;
  }

  .item3 {
    background-color: var(--color-uno);
    background-image: url("../img/discos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: var(--color-cuatro);
    margin-bottom: 2%;
    font-size: 1rem;
    padding: 3%;
    grid-gap: 5%;
  }

  .item3 img {
    opacity: 0.9;
    width: 45vw;
    padding: 1% 1% 1% 3%;
  }

  .item3 p {
    font-size: 1rem;
    margin: 0 0 10% 0;
    padding: 5%;
    color: var(--color-cuatro);
    background-color: var(--color-cinco);

  }

  .item3flex {
    display: flex;
  }

  .item4 {
    color: var(--color-tres);
    padding: 3%;
    text-align: justify;
    width: 20vw;
  }

  .item4 img {
    width: 18vw;
  }

  .item4 a {
    text-decoration: none;
    color: var(--color-tres);
    font-size: 1rem;
  }

  .item5 {
   
    margin-left: 5%;
    grid-gap: 3%;
    display: flex;
    text-align: justify;
  }

  .item5 h3,
  h2,
  p {
    width: 30vw;
    padding: 1% 5% 2% 5%;
  }

  .item5 img {
    width: 10vw;
    margin-left: 20%;
    padding: 5%;
  }

  .item6 {
    opacity: 0.9;
    color: var(--color-cuatro);
    display: flex;
    padding: 1% 1% 1% 3%;
    grid-gap: 2%;
  }

  .item6 a {
    color: var(--color-cuatro);
    text-decoration: none;
    cursor: pointer;

  }

  .item6 img {
    width: 5vw;
  
  }

  .item7 {
    font-size: 2rem;
    padding-left: 80%;
  }

}

@media only screen and (min-width: 3881px)  {

  .grid-container {
    grid-template-areas:
      "header header"
      "menu menu"
      "len len "
      " aside right"
      "main main"
      "footer footer";
    grid-gap: 3px;
  }
  iframe{
    padding: 1%;
    width: 33vw;
    height: 28vw;
   }
  .div img {
    width: 5vw;
  }
  .item1 img {
    width: 100vw;
    height: 10vw;
  }
  .item2 {
    font-size: 1.3rem;
  }

  .item3 {
    background-color: var(--color-uno);
    background-image: url("../img/discos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: var(--color-cuatro);
    margin-bottom: 2%;
    font-size: 2rem;
    padding: 3%;
    grid-gap: 5%;
  }

  .item3 img {
    opacity: 0.9;
    width: 45vw;
    padding: 1% 1% 1% 3%;
  }

  .item3 p {
    font-size: 1.5rem;
    margin: 0 0 10% 0;
    padding: 5%;
    color: var(--color-cuatro);
    background-color: var(--color-cinco);

  }

  .item3flex {
    display: flex;
  }

  .item4 {
    color: var(--color-tres);
    padding: 3%;
    text-align: justify;
    width: 20vw;
  }

  .item4 img {
    width: 18vw;
  }

  .item4 a {
    text-decoration: none;
    color: var(--color-tres);
    font-size: 1rem;
  }

  .item5 {
   
    margin-left: 5%;
    grid-gap: 3%;
    display: flex;
    text-align: justify;
  }

  .item5 h3,
  h2,
  p {
    width: 30vw;
    padding: 1% 5% 2% 5%;
  }

  .item5 img {
    width: 10vw;
    margin-left: 20%;
    padding: 5%;
  }

  .item6 {
    opacity: 0.9;
    color: var(--color-cuatro);
    display: flex;
    padding: 1% 1% 1% 3%;
    grid-gap: 2%;
  }

  .item6 a {
    color: var(--color-cuatro);
    text-decoration: none;
    cursor: pointer;

  }

  .item6 img {

    width: 5vw;
  
  }

  .item7 {
    font-size: 2rem;
    padding-left: 80%;
  }

}